= simple_form_for([:admin, @language], :html => {:class => "form-horizontal"}) do |f|
  
  = f.input :name
  = f.input :abbreviation
  
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
    = link_to t('cancel'), admin_languages_path, :class => "btn"
