.page-header
  %h1 
    = t('.title')
    = link_to_icon t('.new'), new_admin_language_path, "icon-file icon-white", :class => "btn btn-primary pull-right"
  

%table.table
  %thead
    %tr
      %th= t('.name')
      %th= t('.abbreviation')
      %th

  %tbody
    - @languages.each do |language|
      %tr
        %td= language.name
        %td= language.abbreviation
        %td
          - if !language.default?
            = link_to_icon t('actions.edit'), edit_admin_language_path(language), "icon-pencil icon-white", :class => "btn btn-mini btn-primary"
            = link_to_icon t('actions.delete'), admin_language_path(language), "icon-trash icon-white", :confirm => t('actions.delete_confirmation'), :method => :delete, :class => "btn btn-mini btn-danger"
          - else
            %em= t('.default_language')