= simple_nested_form_for [@chapter, @question], :html => {:multipart => true, :class => 'form-horizontal'}  do |f|

  = f.input :chapter_id, :collection => Chapter.order("sequence ASC").map {|c| ["#{c.sequence}. #{c.title}", c.id]}, :include_blank => true, :selected => params[:chapter_id], :input_html => {:class => "span5"}
  = f.input :title, :input_html => {:class => "span5"}
  - sq_list = Question.sequence_select(@chapter.id)
  = f.input :sequence, :collection => sq_list, :include_blank => true, :selected => @question.sequence || sq_list.count, :input_html => {:class => "span5"}
  = f.input :answer do
    = link_to_textile_help
    = f.text_area :answer, :class => "span5"
  
  %div.control-group
    %label.control-label
      = t('simple_form.labels.question.uploaded_files')
    %div.controls
      = f.simple_fields_for :assets do |asset|
        - if asset.object.new_record?
          %div= asset.file_field(:file)
        - else
          %div.thumb
            %div.img-clippy
              .clippy!= clippy(File.basename(asset.object.file.to_s))
              = image_tag asset.object.file.url(:thumb)
            %p
              = asset.link_to_remove "<icon class=\"icon-trash icon-white\"></icon> #{t('actions.delete')}".html_safe, :class => "btn btn-small btn-danger", :confirm => t('actions.delete_confirmation')
  
  %div.control-group  
    %div.controls
      = f.link_to_add "<icon class=\"icon-plus-sign icon-white\"></icon> #{t('actions.add_file')}".html_safe, :assets, :class => "btn btn-primary btn-small"

  .form-actions
    = f.submit nil, :class => 'btn btn-primary' 
    = link_to t('cancel'), @chapter, :class => "btn"