.page-header
  %h1= t('devise.forgot_password')

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :html => {:class => 'form-horizontal'}) do |f|
  = f.input :email, :required => true

  .form-actions
    = f.submit t('send_me_pwd'), :class => 'btn btn-primary' 
    = link_to t('cancel'), new_user_session_path, :class => "btn"