- if defined? @breadcrumb
  %div.container.nav-collapse
    %ul.nav
      %li.divider-vertical
      %li.navbar-breadcrumb
        %em= t('breadcrumb.head')
      - @breadcrumb.each_with_index do |crumb, i|
        - if i != 0
          %li.navbar-breadcrumb /
        - if crumb[1].is_a? String
          - if crumb[1] == ""
            %li.navbar-breadcrumb= crumb[0]
          - else
            %li= link_to crumb[0], crumb[1]
        - else
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
              = crumb[0]
              %b.caret
            %ul.dropdown-menu
              = render :partial => "shared/chapter_questions_item", :collection => crumb[1]
              %li.divider
              %li
                %ul.pager
                  %li.prev-chapter= link_to_icon "", @prev, "icon-arrow-left", :rel => "tooltip", :"data-original-title" => @prev.title, :"data-placement" => "bottom" if @prev
                  %li.next-chapter= link_to_icon "", @next, " icon-arrow-right", :rel => "tooltip", :"data-original-title" => @next.title, :"data-placement" => "bottom" if @next        