%div.modal.hide.fade.in#help{"data-spy" => "scroll"}
  %div.modal-header
    %h1
      = t('help.title')
      %button.close{:href => "#", :"data-dismiss" => "modal"} &times;
  %div.modal-body
    %div
      != RedCloth.new(Setting::information).to_html
    %div
      %em= t('help.last_update', :update => last_update)

  %div.modal-footer
    %div.avatar
      = image_tag "http://www.gravatar.com/avatar/7a0e765f2a3089c46761dc29814916d4?s=40", :class => "thumbnail"
      = t('help.credits_html', :mail => link_to("Guillaume Deflaux", "mailto:deflaux.guillaume@gmail.com"), :github => link_to("GitHub", "https://github.com/gdeflaux/faqbook"))