- if !resource.translated_locales.include?(I18n.locale)
  %div.alert.alert-info{:"data-dismiss" => "alert"}
    %button.close &times;
    = t('not_in_locale_info_html', :lang => Language.find_by_abbreviation(I18n.locale.to_s).name)