%div.hero-unit
  %h1 Tdh Handbook
  %p= t('home.welcome_all_html', :toc => link_to(t('toc'), chapters_path), :login => link_to(t('log_in'), new_user_session_path))
  - if user_signed_in?
    %p= t('home.welcome_extra')
    %iframe#video_player{"src" => "http://player.vimeo.com/video/#{t('home.video_id')}", "width" => "650", "height" =>  "406",  "frameborder" => "0"}(webkitAllowFullScreen mozallowfullscreen allowFullScreen)