.page-header
  %h1= t('sign_in')

= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|

  = f.input :email, :required => false, :autofocus => true, :input_html => {:class => "span5"}
  = f.input :password, :required => false, :input_html => {:class => "span5"}
  = f.input :remember_me, :as => :boolean, :input_html => {:class => "span5"} if devise_mapping.rememberable?

  .form-actions
    = f.button :submit, t('sign_in'), :class => 'btn btn-primary' 
    = link_to t('cancel'), root_url, :class => "btn"

= render :partial => "devise/links"