= simple_form_for([:admin, @setting], :html => {:class => "form-horizontal"}) do |f|
  = f.input :information, :as => :text, :input_html => {:class => "span5"}
  = f.input :technical_contact, :input_html => {:class => "span5"}
    
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
    = link_to t('cancel'), chapters_path, :class => "btn"