= simple_form_for(@chapter, :html => {:class => 'form-horizontal'}) do |f|

  = f.input :title, :input_html => {:class => "span5"}
  - sq_list = Chapter.sequence_select
  = f.input :sequence, :collection => sq_list, :include_blank => true, :selected => @chapter.sequence || sq_list.count, :input_html => {:class => "span5"}
  = f.input :description, :as => :text, :input_html => {:class => "span5"}
    
  .form-actions
    = f.submit nil, :class => 'btn btn-primary' 
    = link_to t('cancel'), @chapter ? @chapter : chapters_path, :class => 'btn'