- if !@chapter.fully_translated?
  %div.alert.alert-info{:"data-dismiss" => "alert"}
    %button.close &times;
    = t('chapters.no_full_translation_html', :lang => Language.find_by_abbreviation(I18n.locale.to_s).name )