.page-header
  %h1
    = t('toc')
    - if user_signed_in? && current_user.admin?
      %div.btn-group.pull-right
        %a.btn.dropdown-toggle.btn-primary{"data-toggle" => "dropdown", "href" => "#"}
          = t('actions.action')
          %span.caret
        %ul.dropdown-menu    
          %li= link_to_icon t('actions.pdf'), chapters_path(:format => :pdf), "icon-print"
          %li.divider
          %li= link_to_icon t('actions.new_chapter'), new_chapter_path(:locale => "en"), "icon-file"
    - else
      = link_to_icon t('actions.pdf'), chapters_path(:format => :pdf), "icon-print icon-white", :class => "btn btn-warning pull-right"

%table.table.table-bordered.toc
  - @chapters.each do |c|
    %tr
      %th= link_to "#{c.sequence}. #{c.title}", c
    - c.questions.each do |q|
      %tr
        %td= link_to "#{c.sequence}.#{q.sequence} #{q.title}", chapter_path(c, :anchor => q.anchor)