.page-header
  %h1{:class => @chapters ? "page-break" : ""}
    = "#{@chapter.sequence}. #{@chapter.title}"
    - if params[:format] != "pdf"
      - if user_signed_in? && current_user.admin?
        %div.btn-group.pull-right
          %a.btn.dropdown-toggle.btn-primary{"data-toggle" => "dropdown", "href" => "#"}
            = t('actions.action')
            %span.caret
          %ul.dropdown-menu
            %li= link_to_icon t('actions.pdf'), chapter_path(@chapter, :format => :pdf), "icon-print"
            %li.divider
            %li= link_to_icon t('actions.edit'), edit_chapter_path(@chapter), "icon-pencil"
            %li= link_to_icon t('actions.new_question'), new_chapter_question_path(@chapter, :locale => :en), "icon-file"
            %li.divider
            %li= link_to_icon(t('actions.delete'), @chapter, "icon-trash", confirm: t('actions.delete_confirmation'), method: :delete)
      - else
        = link_to_icon t('actions.pdf'), chapter_path(@chapter, :format => :pdf), "icon-print icon-white", :class => "btn btn-warning pull-right"

= render "no_full_translation" if params[:format] != "pdf"

%div.description= @chapter.description

- @chapter.questions.each do |q|
  %div.anchor{:id => q.anchor}
  %div
    %h2.question
      = "#{@chapter.sequence}.#{q.sequence} #{q.title}"
      - if params[:format] != "pdf"
        - if user_signed_in? && current_user.admin?
          %div.btn-group.pull-right
            %a.btn.dropdown-toggle.btn-primary{"data-toggle" => "dropdown", "href" => "#"}
              = t('actions.action')
              %span.caret
            %ul.dropdown-menu    
              %li= link_to_icon t('actions.edit'), edit_chapter_question_path(@chapter, q), "icon-pencil"
              %li.divider
              %li= link_to_icon t('actions.delete'), [@chapter, q], "icon-trash", confirm: t('actions.delete_confirmation'), method: :delete
            
    %div.answer.well!= TextileQuestion.new(q, request.format.pdf?).to_html

%div.last-update= t('chapters.last_update', :update => @chapter.last_update)