/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
*/
.avatar {
	
	text-align:right;
	img {
		float:right;
		margin-left:5px;
	}
}

.sidebar-fixed {
	position:fixed;
	width:19%;
	h1, h2, h3, h4 {
		margin-bottom:7px;
	}
}

h1 a, h2 a {
	font-weight:normal;
	font-size:13px;
}

table.toc {
	th {
	font-size:1.2em;
	background-color:#F9F9F9;
	border-bottom: 1px solid #DDD;
	}
	
	td {
	padding-left:25px;
	border-top:0;
	}
}

.anchor {
	display: block; 
	position: relative;
	top: -60px;
}

h2.question {
	margin-bottom:5px;
}

.answer {
	img {
		border: 2px solid rgba(0, 0, 0, 0.05);
		border-radius: 4px;
	}
	
	.img-left {
    float: left;
 	  margin: 0 14px 0 0;
	}
	.img-right {
		float: right;
		margin: 0 0 0 14px;
	}
	.img-center {
		text-align: center;
	}
	.kit {
		background: image-url("kit-logo.png") no-repeat;
		padding-left: 23px;
		color: #6599FF;
		font-style:italic;
	}
	.important {
		background-color: #D4E8C1;
		border: 2px solid #8DB87C;
		border-radius: 4px;
		padding:5px;
	}

	.emergency {
		background-color: #D4E8C1;
		border: 2px solid #ff9900;
		border-radius: 4px;
		padding:5px;
	}
	
	h3 {
		margin-bottom:7px;
	}
	h4 {
		margin-bottom:7px;
	}
	
	table {
		font-size:1em;
		margin-bottom:0;
	}
}

.last-update {
	text-align:right;
	font-size: 0.8em;
	font-style:italic;
	padding-right:5px;
	margin-top:5px;
	margin-bottom:5px;
}

ul.pager {
	margin-bottom:0;
}

li.navbar-breadcrumb {
	padding: 9px 10px 11px;
}

.prev-chapter {
	float:left;
	margin-left:5px;
}

.next-chapter {
	float:right;
	margin-right:5px;
}

.thumb {
	text-align:center;
	background-color: #DDD;
	border-radius: 4px;
	padding:5px;
	display:inline;
	float:left;
	margin-right:5px;
	margin-bottom:5px;

	.img-clippy {
		border-radius: 4px;
		border: 3px solid white;
		margin-bottom:5px;
	}
}

