body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;	
}

#cover {
	font-size: 4em;
	background-color: #ED8A3F;
	padding:50px 0;
	margin: 400px 0;
	border: solid 2px #d56000;
	border-radius:4px;
	font-weight: bold;
	text-align:center;
	color: #fff;
}

#last-update {
	text-align:right;
  font-style:italic;
  padding-right:5px;
  margin-top:5px;
  margin-bottom:5px;
}

h1, h2 {
	background-color: #2C439B;
	color: #fff;
  padding: 10px 0 10px 5px;
  border: 2px solid #19296A;
  border-radius:4px;
}

h1 a, h2 a {
	display:none;
}

h1.page-break {
	page-break-before: always;
}

a {
	color: #6599FF;
	text-decoration:none;
}

.description {
	
}

.answer {
	text-align:justify;
	padding: 0px 5px 0 5px;
}

.img-left {
	float: left;
  margin: 0 14px 0 0;
}
.img-right {
	float: right;
	margin: 0 0 0 14px;
}
.img-center {
  text-align: center;
}
.kit {
  background: url("kit-logo.png") no-repeat;
  padding-left: 23px;
  color: #6599FF;
  font-style:italic;
}
.important {
  background-color: #D4E8C1;
  border: 2px solid #8DB87C;
  border-radius: 4px;
  padding:5px;
}
table {
	width: 100%; 
	border-collapse:collapse;
	font-size:1em;
}
th {
  text-align:center;
  border-collapse:collapse;
  border-bottom: 2px solid #2C439B;
  padding: 3px 0 3px 0;
}
td {
  text-align: center;
  border-bottom: 1px solid #2C439B;
  padding: 3px 0 3px 0;
}

.last-update {
	text-align:right;
  font-size: 0.8em;
  font-style:italic;
  padding-right:5px;
  margin-top:5px;
  margin-bottom:5px;
}