= simple_form_for([:admin, @user], :html => {:class => "form-horizontal"}) do |f|
  = f.input :email
  = f.input :role, :collection => User::ROLES.map{ |x| [x.humanize, x]}
  = f.input :password
  = f.input :password_confirmation
  
  .form-actions
    = f.submit nil, :class => "btn btn-primary"
    = link_to t('cancel'), admin_users_path, :class => "btn"