.page-header
  %h1
    = t('.title')
    = link_to_icon t('.new'), new_admin_user_path, "icon-user icon-white", :class => "btn btn-primary pull-right"

%table.table.table-striped
  %thead
    %tr
      %th= t('.email')
      %th= t('.role')
      %td &nbsp;
  %tbody
    - @users.each do |u|
      %tr
        %td= u.email
        %td= u.role.humanize
        %td
          = link_to_icon t('actions.edit'), edit_admin_user_path(u), "icon-pencil icon-white", :class => "btn btn-primary btn-mini"
          = link_to_icon t('actions.delete'), [:admin, u], "icon-trash icon-white", confirm: t('actions.delete_confirmation'), method: :delete, :class => "btn btn-danger btn-mini"